---
import IconMobile from "@assets/images/icon-mobile.svg";
import IconDevelop from "@assets/images/icon-edit.svg";
import IconPanel from "@assets/images/icon-monitor.svg";
import DataSkill from "@assets/data/skill.json";
import DataService from "@assets/data/service.json";
import DataServiceFa from "@assets/data/service.fa.json";
import MainLayout from "@layouts/MainLayout.astro";
import { getLocaleFromUrl, useTranslations } from "@i18n/utils";

type IconComponent = typeof IconMobile;

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const serviceData = locale === "fa" ? DataServiceFa : DataService;

function getIconComponent(name: string): IconComponent | null {
  switch (name) {
    case "mobile":
      return IconMobile;
    case "develop":
      return IconDevelop;
    case "panel":
      return IconPanel;
    default:
      return null;
  }
}
---

<MainLayout>
  <article data-page="about">
    <header>
      <h2 class="article-title">{t("about.title")}</h2>
    </header>

    <section class="about-text">
      <p>{t("about.p1")}</p>

      <p class="mt">{t("about.p2")}</p>
    </section>

    <h3 class="mt">{t("about.doing")}</h3>

    <ul class="service-list">
      {
        serviceData.map((item) => {
          const Icon = getIconComponent(item.icon);

          return (
            <li class="item">
              <div class="icon-box"> {Icon && <Icon />}</div>

              <div class="content-box">
                <h4 class="item-title">
                  {item.title}{" "}
                  {item.subTitle ? <small>{item.subTitle}</small> : null}
                </h4>

                <p class="item-text">{item.description}</p>
              </div>
            </li>
          );
        })
      }
    </ul>

    <h3 class="mt">{t("about.skills")}</h3>

    <ul class="skill-list">
      {
        DataSkill.map((item) => (
          <li class="item">
            <h4 class="title">{item}</h4>
          </li>
        ))
      }
    </ul>
  </article>
</MainLayout>

<style lang="scss">
  .mt {
    margin-top: 26px;
  }

  .service-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;

    .item {
      position: relative;
      padding: 20px;
      border-radius: 14px;
      z-index: 1;
      display: flex;
      flex-direction: row;

      &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: var(--color-base-200);
        border-radius: inherit;
        z-index: -1;
      }

      .icon-box {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: auto;
        }
      }

      .content-box {
        text-align: left;

        .item-title {
          margin-bottom: 7px;
          text-align: start;
        }

        .item-text {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.6;
          text-align: start;
        }
      }
    }
  }

  .skill-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 1;
      height: 30px;
      padding: 0 16px;

      &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: var(--color-base-200);
        border-radius: var(--radius-box);
        z-index: -1;
      }

      .title {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6;
      }
    }
  }

  @media (min-width: 580px) {
    .service-list {
      .item {
        width: 100%;
      }
    }
  }
  @media (min-width: 1024px) {
    .service-list {
      .item {
        width: 48%;
      }
    }
  }

  html[dir="rtl"] {
    .service-list {
      .item {
        .icon-box {
          margin-right: 0px;
          margin-left: 10px;
        }
      }
    }

    .skill-list {
      .item {
        font-family: "Noto Sans Display", sans-serif;
      }
    }
  }
</style>
